<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" href="review.css">

</head>
<body>

    <div id="warp">

        <!--사이드바 시작-->
        <div class="checkboxmain">
            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="sidebarmain">
                    <ul>
                        <li>
                            <a th:href="@{/main}">홈으로</a>
                        </li>
                        <li>
                   			<div class="user" sec:authorize="isAuthenticated()">
                   				<a sec:authentication="name"></a><span>님</span>
                   			</div>
                    	</li>
                        <li>
                            <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                        </li>
                        <li>
                            <a th:href="@{/mypage}">마이페이지</a>
                        </li>
                        <li>
                            <a th:href="@{/user/signup}">회원가입</a>
                        </li>
                        <li>
                            <a th:href="@{/review}">리뷰</a>
                        </li>
                        <li>
                            <a th:href="@{/reservation/create}">예약</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--사이드바 끝-->


        <div class="header">
            <h2>리뷰</h2>
        </div>

        <div class="main">
            <div class="container my-3">
                <table class="table table-hover">
                    <thead class="table-Warning">
                        <tr class="active">
                            <th>번호</th>
                            <th>식당이름</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>평점</th>
                            <th>작성일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="review, loop : ${paging}">
                            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                            <td th:text="${review.restaurantName}"></td>
                            <td th:text="${review.nickName}"></td>
                            <td>
                                <a th:href="@{|/review/detail/${review.reviewId}|}" th:text="${review.title}"></a>
                                <span class="text-warning small ms-2"
                                    th:if="${#lists.size(review.answer) > 0}" 
                                    th:text="${#lists.size(review.answer)}">
                                </span>
                            </td>
                            <td th:text="${review.score}"></td>
                            <td th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- 페이징처리-->
                <div th:if="${!paging.isEmpty()}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                            <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(1, paging.totalPages-1)}"
                            th:if="${page >= paging.number-2 and page <= paging.number+2}"
                            th:classappend="${page == paging.number} ? 'active'"class="page-item">
                            <a th:text="${page}" class="page-link" th:href="@{|?page=${page-1}|}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn">
                    <a th:href="@{/review/create}" class="btn btn-warning">등록하기</a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>